:root {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  background-color: #252a41;
  padding: 1.5rem;
}

header {
  display: inline-block;
}

header .sidebar__icon {
  width: 3.8rem;
  height: 3.8rem;
  background-color: #3b3f54;
  border-radius: 1.25rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  margin-top: 1.5rem;
}

header .sidebar__icon .firstline {
  width: 0.9rem;
  height: 0.2rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header .sidebar__icon .secondline {
  width: 1.8rem;
  height: 0.2rem;
  background-color: #fff;
  margin: 0.5rem 0;
}

header .sidebar__icon .thirdline {
  width: 0.9rem;
  height: 0.2rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

main .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
  margin: 0 auto;
}

main .project__header {
  font-size: 3.6rem;
  color: white;
  font-weight: 600;
}

main .project__subheader {
  color: #9a9fb6;
  margin: 0.5rem 0 3rem 0;
}

main .project__search {
  padding: 1.75rem 1.5rem;
  background-color: #3b3f54;
  border-radius: 2rem;
  margin-bottom: 5rem;
  max-width: 34rem;
}

main .project__search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .project__search form span {
  font-size: 1.8rem;
  color: #cacaca;
  margin-right: 1.5rem;
}

main .project__search form input {
  width: 85%;
  background-color: #3b3f54;
  border: none;
  font-size: 1.5rem;
  color: #cacaca;
}

main .project__search form input::-webkit-input-placeholder {
  color: #cacaca;
}

main .project__search form input:-ms-input-placeholder {
  color: #cacaca;
}

main .project__search form input::-ms-input-placeholder {
  color: #cacaca;
}

main .project__search form input::placeholder {
  color: #cacaca;
}

main .project__category {
  width: 40rem;
}

main .project__category h3 {
  color: white;
  word-spacing: 0.5rem;
  margin-bottom: 1.6rem;
}

main .project__category h3 span {
  color: #9a9fb6;
  font-size: 1.4rem;
  font-weight: 400;
}

main .project__category .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .card {
  width: 33%;
  margin-bottom: 1.8rem;
}

main .card #card--active {
  border: 2px solid #252a41;
  border-radius: 1.5rem;
  width: 9rem;
  height: 9rem;
  padding-top: 5px;
  padding-left: 5px;
}

main .card #card--active--CP {
  border: 2px solid #43a3b3;
  border-radius: 1.5rem;
  width: 9rem;
  height: 9rem;
  padding-top: 5px;
  padding-left: 5px;
}

main .card__header {
  display: inline-block;
  position: relative;
  height: 7.5rem;
  width: 7.5rem;
  font-weight: bold;
  color: white;
  background-color: #3b3f54;
  border-radius: 1.5rem;
}

main .card__header span {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

main .card__header span#update {
  position: absolute;
  top: -0.75rem;
  left: 6.5rem;
  height: 1.75rem;
  width: 1.75rem;
  border: 0.3rem solid #252a41;
  border-radius: 100%;
  background-color: white;
}

main .card #GH {
  background: -webkit-gradient(linear, left bottom, right top, from(#fa2f88), to(#f83bc7));
  background: linear-gradient(to top right, #fa2f88, #f83bc7);
}

main .card #CP {
  background: -webkit-gradient(linear, left bottom, right top, from(#2dd5a5), to(#397adf));
  background: linear-gradient(to top right, #2dd5a5, #397adf);
}

main .card #EC {
  background: -webkit-gradient(linear, left bottom, right top, from(#b966d2), to(#663cbc));
  background: linear-gradient(to top right, #b966d2, #663cbc);
}

main .card #TA {
  background: -webkit-gradient(linear, left bottom, right top, from(#7443ee), to(#2fb6f1));
  background: linear-gradient(to top right, #7443ee, #2fb6f1);
}

main .card #LP {
  background: -webkit-gradient(linear, left bottom, right top, from(#f7bd73), to(#ec6f62));
  background: linear-gradient(to top right, #f7bd73, #ec6f62);
}

main .card__subheader {
  font-size: 1.2rem;
  font-weight: 400;
  color: #9a9fb6;
  margin-top: 0.5rem;
}

main .task {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  padding: 3.6rem;
  width: calc(50vw - 1.5rem);
  height: calc(100vh - 3rem);
  border-radius: 1.6rem;
}
/*# sourceMappingURL=main.css.map */