// Color
$main-color: #252a41;
$secondary-color-1: #3b3f54;
$secondary-color-2: #9a9fb6;
$light-grey: #eeeeee;
$dark-grey: #bbbbbb;
$approved: #35d7d5;
$approved-bg: #e0f5f5;
$progress: #79b2f7;
$progress-bg: #e4effe;
$review: #d2a798;
$review-bg: #fdeee8;
$waiting: #939ba4;
$waiting-bg: #eceef0;
$btn-color: #894ec6;
